dimensions/**/region/*.mca filter=lfs diff=lfs merge=lfs -text
dimensions/**/entities/*.mca filter=lfs diff=lfs merge=lfs -text
dimensions/**/poi/*.mca filter=lfs diff=lfs merge=lfs -text
level.dat filter=lfs diff=lfs merge=lfs -text
level.dat_old filter=lfs diff=lfs merge=lfs -text
players/data/*.dat filter=lfs diff=lfs merge=lfs -text
players/data/*.dat_old filter=lfs diff=lfs merge=lfs -text
data/minecraft/maps/*.dat filter=lfs diff=lfs merge=lfs -text
